.input {
  display: flex;
  width: 90%;
  height: 80%;
  margin: auto;
  border: none;
  background-color: rgba(255, 255, 255, 0);
}
.input[type='text'] {
  font-size: 22px;
  font-family: inherit;
}
.input:focus {
  outline: none;
}
