.button {
  height: 50px;
  min-width: 50px;
  border: none;
  box-shadow: 2px 2px 5px #d6d6d6, -2px -2px 10px #d6d6d6;
  border-radius: 10px;
  font-size: 22px;
  font-family: inherit;
  font-weight: inherit;
  margin: auto;
  padding: 0 7px;
}
.blue {
  background: linear-gradient(145deg, #4d9be4, #55adff);
}
