.tooltip {
  display: flex;
  flex-direction: column;
  position: absolute;
  border: 1px solid black;
  color: black;
  width: 80%;
  height: 300px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.733);
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.466);
  transition: 500ms;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  word-wrap: break-word;
  padding: 0 0 0 17px;
}
.close {
  width: 46px;
  height: 46px;
}
.btn-cross {
  width: 46px;
  height: 46px;
  cursor: pointer;
  border-radius: 100%;
  box-shadow: 0px 1px 5px 1px rgba(145, 145, 145, 0.26);
}
.cross {
  margin: 6px 6px 2px auto;
  pointer-events: visiblePainted;
}
.plus {
  display: flex;
  margin: auto auto 6px auto;
}
.cross:hover,
.plus:hover {
  transform: scale(1.05);
}
.cross:active,
.plus:active {
  background-color: rgba(185, 185, 185, 0.267);
  transform: scale(0.95);
}
