.tooltip {
  position: absolute;
  border: 1px solid black;
  color: black;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.466);
}

.cross {
  margin: 1px 4px 1px auto;
  transform: scale(0.8);
  cursor: pointer;
}

.content {
  margin: 1px 4px;
}
