.tooltip {
  display: flex;
  flex-direction: column;
  position: absolute;
  border: 1px solid black;
  color: black;
  width: 240px;
  height: 200px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.466);
}

.cross {
  margin: 2px 2px 2px auto;
  height: 16px;
  pointer-events: visiblePainted;
  cursor: pointer;
  border: none;
  border-radius: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  word-wrap: break-word;
  padding: 0 0 0 17px;
}

.plus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  padding-right: 2px;
  cursor: pointer;
  border: 0;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.466);
  background-color: rgba(255, 255, 255, 0.3);
}
